header {
  nav {
    background: linear-gradient(rgba(255, 0, 0, 0.315),black);

    div {
      a {
        img {
          height: 150px;
          width: 150px;
        }
      }
    }
  }
}

header {
  .container-fluid {
    background-color: black;
}
}
