.contenedor {
    display: flex;
    background: linear-gradient(rgba(255, 0, 0, 0.363),black);
    flex-direction: column;
    gap: 2rem;
    padding-inline: 4rem;
        .cajita {
        display: flex;
        gap: 2rem;
        justify-content: space-around;
        align-items: center;
        p{
            color: rgb(250, 253, 250);
        }
    }

}

.fue{
    font-family: 'Roboto', sans-serif;
    
}

.fotoz {
    div {
        img {
            width: 560px;
        }
    }
}


.coleccionables {
    background: linear-gradient(rgba(255, 0, 0, 0.363),black);
    div {
        flex-wrap: wrap;
        @include flex (flex,space-around,center);
        div {
            border: solid 2px rgb(160, 146, 146);
            width: 350px;
            height: 400px;
            text-align: center;
            margin: 50px;
            border-radius: 2rem;
        }

        a {
            border: solid 1px rgb(100, 91, 91);
            font-size: 40px;
        }
    }
}

.imgc {
    width: 300px;
    height: 15rem;
    object-fit: cover;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
}

.txt {
    font-family: monospace;
    font-size: 1rem;
    margin: 0.5rem;
    color: red;
}

.boton {
    padding-inline: 1rem;
    border-radius: 0.5rem;

    &:hover {
        background-color: #b22222;
        color: black
    }

    &:active {
        background-color: #b22222;
        color: #f1f1f1;
    }
}
.infogame {
    background: linear-gradient(rgba(255, 0, 0, 0.5),black);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-inline: 3rem;
    gap: 3rem;
    p{
        color: rgb(196, 8, 8);
    text-align: left;
    }
}
.bloque{
    border: solid red;
    margin: 5px;
    padding: 2rem;
    gap: 2rem;
    border-radius: 4rem;
    @include flex (flex,column,center);
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 4px solid red;
    }
}
.bloquec{
    border: solid rgb(255, 0, 0);
    margin: 5px;
    padding: 2rem;
    gap: 2rem;
    border-radius: 4rem;
    @include flex (flex,column,center);
    .imgca{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 4px solid red;
    }
}
.bloque2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid rgb(0, 4, 255);
    margin: 20px;
    padding: 1rem;
    gap: 2rem;
    border-radius: 4rem;
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 4px solid rgb(17, 0, 255);
    }
    .texto2{
        color: #b22222;
        font-family: fantasy;
    }

}
main{
    .wp{
        background: linear-gradient(rgba(255, 0, 0, 0.363),black);
    }
}
.cont{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 50vh;
}
.zombie{
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    max-width: 80%; 

}
.img4{
    max-width: 50%; 
    height: auto;

}
.zombie {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: rgb(247, 250, 247); /* Otra opción podría ser 'darkgreen' para un aspecto más oscuro */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-left: 200px;
}
.par{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #f1f1f1;
    font-size: 5rem;
}
.par2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    font-size: 2rem;
}
