 @media screen and (max-width:867px){
    .contenedor {
        .cajita {
            flex-direction: column-reverse;
        }

    }

    .contenedor {
        iframe {
            width: 100%;
        }
    .zombie{
        margin-left: 50px;
        
        
    }
    .img4{
        max-width: 10rem;
        
    }
    .cont{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }



    }

    .contenedor {
        .fotoz {
            div {
                img {
                    width: 300px;
                }
            }
        }
    }


    .imgc {
        width: 200px;
        height: 14rem;
    }

    main {
        .infogame {
            display: flex;
            flex-direction: column;
        }

        .bloque {
            flex-direction: column;
        }
    }

    .bloquec {
        flex-direction: column;

        p {
            display: flex;
            flex-direction: column;
        }
    }


    .bloque2 {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:1286px){
    main {
        .infogame {
            grid-template-columns: repeat(2, 1fr);
        }
}

}